<div class="container buscar-ramal flex-column">
    <h2>Pesquisar por:</h2>
    <div class="flex-row">
        {{!-- ################################################
        ########### CAMPO DE BUSCA NUMERO ##################### --}}
        <div class="flex-column tipo-busca">
            <h2>Numero de Ramal</h2>
            <form action="/ramais/buscarNumero" method="post" role="search">
                <input type="search" required name="numero" id="busca-numero" class="busca-input"
                    placeholder="Numero do Ramal">
                <button type="submit" class="search-button"><span class="material-icons ">&#xe8b6;</span></button>
            </form>
        </div>
        {{!-- ################################################
        ########### CAMPO DE BUSCA NOME ##################### --}}
        <div class="flex-column tipo-busca">
            <h2>Nome/Matrícula</h2>
            <form action="/ramais/buscarMatricula" method="post" role="search">
                <input type="search" required name="userNome" id="busca-numero" class="busca-input"
                    placeholder="Nome ou Matricula">
                <button type="submit" class="search-button"><span class="material-icons ">&#xe8b6;</span></button>
            </form>
        </div>
        {{!-- ################################################
        ########### CAMPO DE BUSCA LOCAL ##################### --}}
        <div class="flex-column tipo-busca">
            <h2>Local/Setor</h2>
            <form action="/ramais/buscarLocal" method="post" role="search">
                <input type="search" required name="localNome" id="busca-numero" class="busca-input"
                    placeholder="Local ou Setor">
                <button type="submit" class="search-button"><span class="material-icons ">&#xe8b6;</span></button>
            </form>
        </div>
    </div>
    {{!-- <span id="barra1" class="container"></span> --}}
    {{!-- ################################################
    ########### CAMPO DE RESULTADO ##################### --}}
    <h2>Resultado: </h2>
    <div class="flex-row">
        {{#if ramal}}
        {{#each ramal}}
        {{#if disponibilidade}}
        <div class="livre ramal-buscado" id="ramal-card">
            <button onclick="mostrar({{numero}})">{{numero}}</button>
        </div>
        {{else}}
        <div class="ocupado ramal-buscado" id="ramal-card">
            <button onclick="mostrar({{numero}})">{{numero}}</button>
        </div>
        {{/if}}
        {{/each}}
        {{else}}
        <h2>Não foi encontrado</h2>
        {{/if}}
    </div>
    
    
    
    {{!-- ################################################
    ########### CAMPO DE VER RESULTADO ##################### --}}
    {{#each ramal}}
    <section class="ramal-area" id="card-{{numero}}">
        <button class="fechar" onclick="fechar({{numero}})"><span class="material-icons fechar-icon">&#xe5cd;</span></button>
        <div class="sub-area-ramal">
            <div class="ramal-container flex-column">
                <div class="card-item flex-row">
                    <h2>Número:</h2>
                    <h2>{{numero}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Usuário:</h2>
                    <h2>{{userNome}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Local:</h2>
                    <h2>{{localNome}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Bastidor:</h2>
                    <h2>{{bastidor}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Slot:</h2>
                    <h2>{{slot}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Terminação no Software:</h2>
                    <h2>{{terminacaoSoftaware}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Terminação na Placa:</h2>
                    <h2>{{terminacaoPlaca}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Grupo de Captura:</h2>
                    <h2>{{grupo}}</h2>
                </div>
            </div>
        </div>
        <div class="sub-area-ramal">
            <div class="ramal-container flex-column">
                <div class="card-item  flex-row">
                    <h2>Categoria:</h2>
                    <h2>{{categoria}}</h2>
                </div>
                <div class="card-item  flex-row">
                    <h2>Tipo de Ramal:</h2>
                    <h2>{{tipo}}</h2>
                </div>
                {{#if ddr}}
                <div class="card-item  flex-row">
                    <h2>DDR:</h2>
                    <h2>SIM</h2>
                </div>
                {{else}}
                <div class="card-item  flex-row">
                    <h2>DDR:</h2>
                    <h2>NÃO</h2>
                </div>
                {{/if}}
                <div class="card-item  flex-row">
                    <h2>Livre?</h2>
                    {{#if disponibilidade}}
                    <h2>SIM</h2>
                    {{else}}
                    <h2>NÃO</h2>
                    {{/if}}
                </div>
                <h2>Observações:</h2>
                <br>
                <div class="obs">{{observacao}}</div>
                <div class="botoes flex-row">
                    <form action="/ramais/ramal/edit-form/{{id}}?_method=PUT" method="post">
                        <input type="submit" value="Editar">
                    </form>
                    <form action="/ramal/liberar-form/{{id}}?_method=PUT" method="post">
                        <input type="submit" value="Liberar">
                    </form>
                </div>
            </div>
        </div>


    </section>
    {{/each}}
</div>

{{!-- ################################################
    ########### SCRIPT DA PAGINA ##################### --}}
<script>
    
    function fechar(ramal) {
        const ramalArea = document.getElementById("card-"+ramal);
        ramalArea.classList.remove("visivel")

    }

    function mostrar(ramal) {
        const areaShowing = document.querySelectorAll(".visivel");
        areaShowing.forEach((element) => {
            element.classList.remove("visivel")
        })
        const ramalArea = document.getElementById("card-"+ramal);
        ramalArea.classList.add("visivel");
        ramalArea.scrollIntoView({
            behavior: "smooth"
        });
        
    }

</script>