<div class="flex-row">
    {{>menu-lateral}}
    {{#if ramais}}
    <div class="flex-row ramais-container">
        {{#each ramais}}
        {{#ifEquals tipo "virtual"}}
        <div class="ramal-card virtual" id="ramal-card">
            <form action="/ramais/ramal/{{id}}?_method=PUT" method="post">
                <input type="submit" value="{{numero}}">
            </form>
        </div> 
        {{else}}
            {{#if disponibilidade}}
            <div class="ramal-card livre" id="ramal-card">
                <form action="/ramais/ramal/{{id}}?_method=PUT" method="post">
                    <input type="submit" value="{{numero}}">
                </form>
            </div>
            {{else}}
            <div class="ramal-card ocupado" id="ramal-card">
                <form action="/ramais/ramal/{{id}}?_method=PUT" method="post">
                    <input type="submit" value="{{numero}}">
                </form>
            </div>
            {{/if}}
        {{/ifEquals}}
        {{/each}}
    {{else}}
        <h2 class="nao-encontrado">Nenhum ramal encontrado</h2>
    </div>
    
    {{/if}}

</div>
